Projects/ACTECH_KEYGEN/GenerateKeyApplication/TestLicenseServiceClient/Service References/ServiceReference/LicenseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/License.Model.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/License.Model.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LicenseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsEnabledAutomation" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnabledPhotoVerification" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnabledRVI" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnabledServer" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnabledURV" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnlimitedUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="OperatorConnectionsNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TotalUsers" type="xs:int" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseEntity" nillable="true" type="tns:LicenseEntity" />
</xs:schema>