Assad/Projects/ServiceClient/Service References/StateServiceReference/StateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/StateService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComDevices" />
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ComDevices" minOccurs="0" name="GetComDevicesResult" nillable="true" type="q1:ArrayOfComDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Notify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComDevices" minOccurs="0" name="comDevice" nillable="true" type="q2:ComDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>