Assad/Projects/ServiceClient/Service References/StateServiceReference/StateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ComServer.CoreConfig" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ComServer.CoreConfig" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="devType">
    <xs:sequence>
      <xs:element name="addrField" nillable="true" type="xs:string" />
      <xs:element name="devField" nillable="true" type="tns:ArrayOfdevType" />
      <xs:element name="dev_paramField" nillable="true" type="tns:ArrayOfdev_paramType" />
      <xs:element name="drvField" nillable="true" type="xs:string" />
      <xs:element name="inZField" nillable="true" type="tns:ArrayOfinZType" />
      <xs:element name="paramField" nillable="true" type="tns:ArrayOfparamType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="devType" nillable="true" type="tns:devType" />
  <xs:complexType name="ArrayOfdevType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="devType" nillable="true" type="tns:devType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdevType" nillable="true" type="tns:ArrayOfdevType" />
  <xs:complexType name="ArrayOfdev_paramType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dev_paramType" nillable="true" type="tns:dev_paramType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdev_paramType" nillable="true" type="tns:ArrayOfdev_paramType" />
  <xs:complexType name="dev_paramType">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dev_paramType" nillable="true" type="tns:dev_paramType" />
  <xs:complexType name="ArrayOfinZType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="inZType" nillable="true" type="tns:inZType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfinZType" nillable="true" type="tns:ArrayOfinZType" />
  <xs:complexType name="inZType">
    <xs:sequence>
      <xs:element name="idzField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inZType" nillable="true" type="tns:inZType" />
  <xs:complexType name="ArrayOfparamType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="paramType" nillable="true" type="tns:paramType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfparamType" nillable="true" type="tns:ArrayOfparamType" />
  <xs:complexType name="paramType">
    <xs:sequence>
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="typeField" nillable="true" type="xs:string" />
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paramType" nillable="true" type="tns:paramType" />
</xs:schema>