Projects/Common/RviIntegratorClient/Service References/RviIntegrationVideoStreamingServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegrationVideoStreaming" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IIntegrationVideoStreaming_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VideoFileStreamingIn">
    <wsdl:part name="parameters" element="tns:VideoFileStreamingIn" />
  </wsdl:message>
  <wsdl:message name="VideoFileStreamingIn_Headers">
    <wsdl:part name="ChannelNumber" element="tns:ChannelNumber" />
    <wsdl:part name="DeviceGuid" element="tns:DeviceGuid" />
    <wsdl:part name="EventGuid" element="tns:EventGuid" />
    <wsdl:part name="Request" element="tns:Request" />
    <wsdl:part name="Session" element="tns:Session" />
  </wsdl:message>
  <wsdl:message name="VideoFileStreamingOut">
    <wsdl:part name="parameters" element="tns:VideoFileStreamingOut" />
  </wsdl:message>
  <wsdl:message name="VideoFileStreamingOut_Headers">
    <wsdl:part name="ErrorCode" element="tns:ErrorCode" />
    <wsdl:part name="ErrorInformation" element="tns:ErrorInformation" />
    <wsdl:part name="Request" element="tns:Request" />
    <wsdl:part name="Session" element="tns:Session" />
  </wsdl:message>
  <wsdl:portType name="IIntegrationVideoStreaming">
    <wsdl:operation name="GetVideoFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegrationVideoStreaming/GetVideoFile" name="VideoFileStreamingIn" message="tns:VideoFileStreamingIn" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegrationVideoStreaming/GetVideoFileResponse" name="VideoFileStreamingOut" message="tns:VideoFileStreamingOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IIntegrationVideoStreaming" type="tns:IIntegrationVideoStreaming">
    <wsp:PolicyReference URI="#NetTcpBinding_IIntegrationVideoStreaming_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetVideoFile">
      <soap12:operation soapAction="http://tempuri.org/IIntegrationVideoStreaming/GetVideoFile" style="document" />
      <wsdl:input name="VideoFileStreamingIn">
        <soap12:header message="tns:VideoFileStreamingIn_Headers" part="ChannelNumber" use="literal" />
        <soap12:header message="tns:VideoFileStreamingIn_Headers" part="DeviceGuid" use="literal" />
        <soap12:header message="tns:VideoFileStreamingIn_Headers" part="EventGuid" use="literal" />
        <soap12:header message="tns:VideoFileStreamingIn_Headers" part="Request" use="literal" />
        <soap12:header message="tns:VideoFileStreamingIn_Headers" part="Session" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VideoFileStreamingOut">
        <soap12:header message="tns:VideoFileStreamingOut_Headers" part="ErrorCode" use="literal" />
        <soap12:header message="tns:VideoFileStreamingOut_Headers" part="ErrorInformation" use="literal" />
        <soap12:header message="tns:VideoFileStreamingOut_Headers" part="Request" use="literal" />
        <soap12:header message="tns:VideoFileStreamingOut_Headers" part="Session" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegrationVideoStreaming">
    <wsdl:port name="NetTcpBinding_IIntegrationVideoStreaming" binding="tns:NetTcpBinding_IIntegrationVideoStreaming">
      <soap12:address location="net.tcp://192.168.11.4:8000/IntegrationVideoStreaming" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.11.4:8000/IntegrationVideoStreaming</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>