Assad/Projects/Scada/SVB/RubezhAX/RubezhAX/Service References/ServiceReference/StateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="StateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/StateService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/StateService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/StateService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ComDevices" />
      <xsd:import schemaLocation="http://localhost:8001/StateService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:8001/StateService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStateService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IStateService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_GetComDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComDevices" />
  </wsdl:message>
  <wsdl:message name="IStateService_GetComDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_ExecuteCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="IStateService_ExecuteCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_SetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IStateService_SetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_Notify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:message name="IStateService_ComChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ComChanged" />
  </wsdl:message>
  <wsdl:portType name="IStateService">
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/Initialize" message="tns:IStateService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/InitializeResponse" message="tns:IStateService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComDevices">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/GetComDevices" message="tns:IStateService_GetComDevices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/GetComDevicesResponse" message="tns:IStateService_GetComDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/ExecuteCommand" message="tns:IStateService_ExecuteCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/ExecuteCommandResponse" message="tns:IStateService_ExecuteCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/SetConfiguration" message="tns:IStateService_SetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/SetConfigurationResponse" message="tns:IStateService_SetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/Notify" message="tns:IStateService_Notify_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/ComChanged" message="tns:IStateService_ComChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IStateService" type="tns:IStateService">
    <wsp:PolicyReference URI="#NetTcpBinding_IStateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Initialize">
      <soap12:operation soapAction="http://tempuri.org/IStateService/Initialize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComDevices">
      <soap12:operation soapAction="http://tempuri.org/IStateService/GetComDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <soap12:operation soapAction="http://tempuri.org/IStateService/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConfiguration">
      <soap12:operation soapAction="http://tempuri.org/IStateService/SetConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap12:operation soapAction="http://tempuri.org/IStateService/Notify" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComChanged">
      <soap12:operation soapAction="http://tempuri.org/IStateService/ComChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StateService">
    <wsdl:port name="NetTcpBinding_IStateService" binding="tns:NetTcpBinding_IStateService">
      <soap12:address location="net.tcp://localhost:8000/StateService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/StateService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>