Projects/Common/RviClient/Service References/RVIStreamingServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="VideoFileStreamingIn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChannelNumber" type="xs:int" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="DeviceGuid" type="q1:guid" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="EventGuid" type="q2:guid" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="Request" type="q3:guid" />
  <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="Session" type="q4:guid" />
  <xs:element name="VideoFileStreamingOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="FileContent" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorCode" type="xs:int" />
  <xs:element name="ErrorInformation" nillable="true" type="xs:string" />
</xs:schema>