Obsolete/OPC/SVB/RubezhAX/TestServicClient/Service References/ServiceReference/StateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TreeBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfTreeBase" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:TreeBase" />
      <xs:element minOccurs="0" name="ParentAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TreeBase" nillable="true" type="tns:TreeBase" />
  <xs:complexType name="ArrayOfTreeBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreeBase" nillable="true" type="tns:TreeBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreeBase" nillable="true" type="tns:ArrayOfTreeBase" />
</xs:schema>