Projects/Common/RviClient/Service References/RVIServiceReference/RVI.IntegrationInterface.XmlSchemas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SessionInitialiazationIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q1:DocumentInBase">
        <xs:sequence>
          <xs:element name="Login" nillable="true" type="xs:string" />
          <xs:element name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionInitialiazationIn" nillable="true" type="tns:SessionInitialiazationIn" />
  <xs:complexType name="SessionInitialiazationOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q2:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionInitialiazationOut" nillable="true" type="tns:SessionInitialiazationOut" />
  <xs:complexType name="SessionKeepAliveIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q3:DocumentInBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionKeepAliveIn" nillable="true" type="tns:SessionKeepAliveIn" />
  <xs:complexType name="SessionKeepAliveOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q4:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionKeepAliveOut" nillable="true" type="tns:SessionKeepAliveOut" />
  <xs:complexType name="SessionCloseIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q5:DocumentInBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionCloseIn" nillable="true" type="tns:SessionCloseIn" />
  <xs:complexType name="SessionCloseOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q6:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionCloseOut" nillable="true" type="tns:SessionCloseOut" />
  <xs:complexType name="PerimeterIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q7:DocumentInBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerimeterIn" nillable="true" type="tns:PerimeterIn" />
  <xs:complexType name="PerimeterOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q8:DocumentOutBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:ArrayOfDevice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerimeterOut" nillable="true" type="tns:PerimeterOut" />
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevice" nillable="true" type="tns:ArrayOfDevice" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface" minOccurs="0" name="Channels" nillable="true" type="q9:ArrayOfChannel" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:DeviceStatus" />
      <xs:element minOccurs="0" name="Vendor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:simpleType name="CumulativeStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Problem">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CumulativeStatus" nillable="true" type="tns:CumulativeStatus" />
  <xs:simpleType name="DeviceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Connecting">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Connected">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeviceStatus" nillable="true" type="tns:DeviceStatus" />
  <xs:complexType name="ArrayOfStream">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stream" nillable="true" type="tns:Stream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStream" nillable="true" type="tns:ArrayOfStream" />
  <xs:complexType name="Stream">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Rtsp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stream" nillable="true" type="tns:Stream" />
  <xs:complexType name="SubscribePerimeterChangedIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q10:DocumentInBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscribePerimeterChangedIn" nillable="true" type="tns:SubscribePerimeterChangedIn" />
  <xs:complexType name="SubscribePerimeterChangedOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q11:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscribePerimeterChangedOut" nillable="true" type="tns:SubscribePerimeterChangedOut" />
  <xs:complexType name="UnsubscribePerimeterChangedIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q12:DocumentInBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnsubscribePerimeterChangedIn" nillable="true" type="tns:UnsubscribePerimeterChangedIn" />
  <xs:complexType name="UnsubscribePerimeterChangedOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q13:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnsubscribePerimeterChangedOut" nillable="true" type="tns:UnsubscribePerimeterChangedOut" />
  <xs:complexType name="VideoRecordStartIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VideoRecordBaseIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoRecordStartIn" nillable="true" type="tns:VideoRecordStartIn" />
  <xs:complexType name="VideoRecordBaseIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q14:DocumentInBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelNumber" type="xs:int" />
          <xs:element minOccurs="0" name="DeviceGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="EventGuid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoRecordBaseIn" nillable="true" type="tns:VideoRecordBaseIn" />
  <xs:complexType name="VideoRecordStartOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q15:DocumentOutBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="StarTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoRecordStartOut" nillable="true" type="tns:VideoRecordStartOut" />
  <xs:complexType name="VideoRecordStopIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VideoRecordBaseIn">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoRecordStopIn" nillable="true" type="tns:VideoRecordStopIn" />
  <xs:complexType name="VideoRecordStopOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q16:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoRecordStopOut" nillable="true" type="tns:VideoRecordStopOut" />
  <xs:complexType name="VideoFileIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VideoRecordBaseIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumberSegment" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoFileIn" nillable="true" type="tns:VideoFileIn" />
  <xs:complexType name="VideoFileOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q17:DocumentOutBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="HasNextSegment" type="xs:boolean" />
          <xs:element minOccurs="0" name="NextNumberSegment" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoFileOut" nillable="true" type="tns:VideoFileOut" />
  <xs:complexType name="PtzPresetIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PtzBaseIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="Number" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PtzPresetIn" nillable="true" type="tns:PtzPresetIn" />
  <xs:complexType name="PtzBaseIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q18:DocumentInBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelNumber" type="xs:int" />
          <xs:element minOccurs="0" name="DeviceGuid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PtzBaseIn" nillable="true" type="tns:PtzBaseIn" />
  <xs:complexType name="PtzPresetOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q19:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PtzPresetOut" nillable="true" type="tns:PtzPresetOut" />
  <xs:complexType name="PtzTemplateBypassStartIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PtzTemplateBypassBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PtzTemplateBypassStartIn" nillable="true" type="tns:PtzTemplateBypassStartIn" />
  <xs:complexType name="PtzTemplateBypassBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PtzBaseIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="Number" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PtzTemplateBypassBase" nillable="true" type="tns:PtzTemplateBypassBase" />
  <xs:complexType name="PtzTemplateBypassStartOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q20:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PtzTemplateBypassStartOut" nillable="true" type="tns:PtzTemplateBypassStartOut" />
  <xs:complexType name="PtzTemplateBypassStopIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PtzTemplateBypassBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PtzTemplateBypassStopIn" nillable="true" type="tns:PtzTemplateBypassStopIn" />
  <xs:complexType name="PtzTemplateBypassStopOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q21:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PtzTemplateBypassStopOut" nillable="true" type="tns:PtzTemplateBypassStopOut" />
  <xs:complexType name="SnapshotDoIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SnapshotBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SnapshotDoIn" nillable="true" type="tns:SnapshotDoIn" />
  <xs:complexType name="SnapshotBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q22:DocumentInBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChannelNumber" type="xs:int" />
          <xs:element minOccurs="0" name="DeviceGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="EventGuid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SnapshotBase" nillable="true" type="tns:SnapshotBase" />
  <xs:complexType name="SnapshotDoOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q23:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SnapshotDoOut" nillable="true" type="tns:SnapshotDoOut" />
  <xs:complexType name="SnapshotImageIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SnapshotBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SnapshotImageIn" nillable="true" type="tns:SnapshotImageIn" />
  <xs:complexType name="SnapshotImageOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Common" base="q24:DocumentOutBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Guid" type="ser:guid" />
          <xs:element minOccurs="0" name="Height" type="xs:double" />
          <xs:element minOccurs="0" name="StreamNumber" type="xs:int" />
          <xs:element minOccurs="0" name="Width" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SnapshotImageOut" nillable="true" type="tns:SnapshotImageOut" />
</xs:schema>