Projects/Common/RviClient/Service References/RVIServiceReference/RVI_VSS.IntegrationInterface.XmlSchemas.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DocumentInBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:HeaderRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentInBase" nillable="true" type="tns:DocumentInBase" />
  <xs:complexType name="HeaderRequest">
    <xs:sequence>
      <xs:element name="Request" type="ser:guid" />
      <xs:element name="Session" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderRequest" nillable="true" type="tns:HeaderRequest" />
  <xs:complexType name="DocumentOutBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" nillable="true" type="tns:HeaderResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentOutBase" nillable="true" type="tns:DocumentOutBase" />
  <xs:complexType name="HeaderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeaderResponseMessage" nillable="true" type="tns:HeaderResponseMessage" />
      <xs:element name="Request" type="ser:guid" />
      <xs:element name="Session" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderResponse" nillable="true" type="tns:HeaderResponse" />
  <xs:complexType name="HeaderResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Information" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderResponseMessage" nillable="true" type="tns:HeaderResponseMessage" />
</xs:schema>