Projects/Common/RviClient/Service References/RVIServiceReference/RVI_VSS.IntegrationInterface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountPresets" type="xs:int" />
      <xs:element minOccurs="0" name="CountTemplateBypass" type="xs:int" />
      <xs:element minOccurs="0" name="CountTemplatesAutoscan" type="xs:int" />
      <xs:element minOccurs="0" name="IsPtz" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas" minOccurs="0" name="Status" type="q1:DeviceStatus" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas" minOccurs="0" name="Streams" nillable="true" type="q2:ArrayOfStream" />
      <xs:element minOccurs="0" name="Vendor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
</xs:schema>