Projects/Common/RviIntegratorClient/Service References/RviIntegrationServiceReference/RVI.IntegrationInterface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountPresets" type="xs:int" />
      <xs:element minOccurs="0" name="CountTemplateBypass" type="xs:int" />
      <xs:element minOccurs="0" name="CountTemplatesAutoscan" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="CumulativeStatus" type="q1:CumulativeStatus" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="IsOnGuard" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPtz" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecordOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="Status" type="q2:DeviceStatus" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="Streams" nillable="true" type="q3:ArrayOfStream" />
      <xs:element minOccurs="0" name="Vendor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
</xs:schema>