Projects/Common/RviIntegratorClient/Service References/RviIntegrationServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Perimeter" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Video" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" />
  <xs:element name="SessionInitialiazation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q1:SessionInitialiazationIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionInitialiazationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="SessionInitialiazationResult" nillable="true" type="q2:SessionInitialiazationOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionKeepAlive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q3:SessionKeepAliveIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionKeepAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="SessionKeepAliveResult" nillable="true" type="q4:SessionKeepAliveOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q5:SessionCloseIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionCloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="SessionCloseResult" nillable="true" type="q6:SessionCloseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Perimeter" minOccurs="0" name="document" nillable="true" type="q7:ServerListIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Perimeter" minOccurs="0" name="GetServerListResult" nillable="true" type="q8:ServerListOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerPoll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Perimeter" minOccurs="0" name="document" nillable="true" type="q9:ServerPollIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerPollResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Perimeter" minOccurs="0" name="ServerPollResult" nillable="true" type="q10:ServerPollOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerimeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q11:PerimeterIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerimeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="GetPerimeterResult" nillable="true" type="q12:PerimeterOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribePerimeterChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q13:SubscribePerimeterChangedIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribePerimeterChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="SubscribePerimeterChangedResult" nillable="true" type="q14:SubscribePerimeterChangedOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribePerimeterChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q15:UnsubscribePerimeterChangedIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribePerimeterChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="UnsubscribePerimeterChangedResult" nillable="true" type="q16:UnsubscribePerimeterChangedOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VideoRecordStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q17:VideoRecordStartIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VideoRecordStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="VideoRecordStartResult" nillable="true" type="q18:VideoRecordStartOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VideoRecordStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q19:VideoRecordStopIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VideoRecordStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="VideoRecordStopResult" nillable="true" type="q20:VideoRecordStopOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q21:VideoFileIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVideoFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="GetVideoFileResult" nillable="true" type="q22:VideoFileOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPtzPreset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q23:PtzPresetIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPtzPresetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="SetPtzPresetResult" nillable="true" type="q24:PtzPresetOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PtzTemplateBypassStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q25:PtzTemplateBypassStartIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PtzTemplateBypassStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="PtzTemplateBypassStartResult" nillable="true" type="q26:PtzTemplateBypassStartOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PtzTemplateBypassStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q27:PtzTemplateBypassStopIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PtzTemplateBypassStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="PtzTemplateBypassStopResult" nillable="true" type="q28:PtzTemplateBypassStopOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SnapshotDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q29:SnapshotDoIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SnapshotDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="SnapshotDoResult" nillable="true" type="q30:SnapshotDoOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnapshotImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="document" nillable="true" type="q31:SnapshotImageIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnapshotImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas" minOccurs="0" name="GetSnapshotImageResult" nillable="true" type="q32:SnapshotImageOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="document" nillable="true" type="q33:AlarmRulesIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="GetAlarmRulesResult" nillable="true" type="q34:AlarmRulesOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmRuleExecute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="document" nillable="true" type="q35:AlarmRuleExecuteIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmRuleExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="AlarmRuleExecuteResult" nillable="true" type="q36:AlarmRuleExecuteOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmRuleCheckExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="document" nillable="true" type="q37:AlarmRuleCheckExistIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmRuleCheckExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="AlarmRuleCheckExistResult" nillable="true" type="q38:AlarmRuleCheckExistOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VideoStreamingStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Video" minOccurs="0" name="streamingStartIn" nillable="true" type="q39:ChannelStreamingStartIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VideoStreamingStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Video" minOccurs="0" name="VideoStreamingStartResult" nillable="true" type="q40:ChannelStreamingStartOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmSetChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="document" nillable="true" type="q41:AlarmSetChannelIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmSetChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="AlarmSetChannelResult" nillable="true" type="q42:AlarmSetChannelOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmDisableChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="document" nillable="true" type="q43:AlarmDisableChannelIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmDisableChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Alarm" minOccurs="0" name="AlarmDisableChannelResult" nillable="true" type="q44:AlarmDisableChannelOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" minOccurs="0" name="document" nillable="true" type="q45:ClientListIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" minOccurs="0" name="GetClientListResult" nillable="true" type="q46:ClientListOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" minOccurs="0" name="document" nillable="true" type="q47:LoginListIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" minOccurs="0" name="GetLoginListResult" nillable="true" type="q48:LoginListOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindowList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" minOccurs="0" name="document" nillable="true" type="q49:WindowListIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindowListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" minOccurs="0" name="GetWindowListResult" nillable="true" type="q50:WindowListOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenWindow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" minOccurs="0" name="document" nillable="true" type="q51:OpenWindowIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenWindowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/RVI.IntegrationInterface.XmlSchemas.Operator" minOccurs="0" name="OpenWindowResult" nillable="true" type="q52:OpenWindowOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>