Projects/Common/Xsd/Assad.xsd

<?xml version="1.0" encoding="windows-1251" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="Commands" targetNamespace="Commands"
	elementFormDefault="qualified">
  <xs:element name="Message" type="com:MessageType" />
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="MHqueryCP" type="com:MHqueryCPType" />
        <xs:element name="MHqueryTypeDev" type="com:MHqueryTypeDevType" />
        <xs:element name="MHconfig" type="com:MHconfigType" />
        <xs:element name="MHremoveDevice" type="com:MHremoveDeviceType" />
        <xs:element name="MHchangeMode" type="com:MHchangeModeType" />
        <xs:element name="MHremoveMode" type="com:MHremoveModeType" />
        <xs:element name="MHcontrolDevice" type="com:MHcontrolDeviceType" />
        <xs:element name="MHqueryState" type="com:MHqueryStateType" />
        <xs:element name="MHqueryAbility" type="com:MHqueryAbilityType" />
        <xs:element name="MHqueryConfiguredDev" type="com:MHqueryConfiguredDevType" />
        <xs:element name="MHsetDateTime" type="com:MHsetDateTimeType" />
        <xs:element name="MHsetTimeZones" type="com:MHsetTimeZonesType" />
        <xs:element name="MHsetDistanceControl" type="com:MHsetDistanceControlType" />
        <xs:element name="MHsetAccessCard" type="com:MHsetAccessCardType" />
        <xs:element name="MHfullRewrite" type="com:MHfullRewriteType" />
        <xs:element name="MHchangeInOut" type="com:MHchangeInOutType" />
        <xs:element name="MHsetAlertLevel" type="com:MHsetAlertLevelType" />
        <xs:element name="MHsetEventTrigger" type="com:MHsetEventTriggerType" />
        <xs:element name="MHconfirmAlarm" type="com:MHconfirmAlarmType" />
        <xs:element name="MHguardStart" type="com:MHguardStartType" />
        <xs:element name="MHguardStop" type="com:MHguardStopType" />
        <xs:element name="MHConfirmation" type="com:MHconfirmationType" />
        <xs:element name="CPqueryMainHost" type="com:CPqueryMainHostType" />
        <xs:element name="CPqueryTIME" type="com:CPqueryTIMEType" />
        <xs:element name="CPqueryTimeZone" type="com:CPqueryTimeZoneType" />
        <xs:element name="CPqueryAccessCard" type="com:CPqueryAccessCardType" />
        <xs:element name="CPqueryConfiguration" type="com:CPqueryConfigurationType" />
        <xs:element name="CPqueryRemoteControlCfg" type="com:CPqueryRemoteControlCfgType" />
        <xs:element name="CPqueryEventTrigger" type="com:CPqueryEventTriggerType" />
        <xs:element name="CPevent" type="com:CPeventType" />
        <xs:element name="CPsaveVIDEO" type="com:CPsaveVIDEOtype" />
        <xs:element name="CPconfirmation" type="com:CPconfirmationType" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="msgId" type="xs:string" use="required" />
    <xs:attribute name="msgTime" type="xs:dateTime" use="required" />
    <xs:attribute name="refMsg" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="MHconfirmationType">
    <xs:attribute name="commandId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор полученной команды
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="com:CommandStatus" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Статус выполнения
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="errorMsg" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Сообщение об ошибке
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="pVer" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Поддерживаемая версия протокола
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sVer" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Версия сервера оборудования
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dbVer" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Версия базы данных
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="time" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Текущее время ССКУ
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="modeId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор режима работы ССКУ
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="host" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          TCP-адрес хоста, на который нужно пересылать видеофрагмент
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="port" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Порт хоста, на который нужно пересылать видеофрагмент
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="videoId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор видеофрагмента
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="MHqueryCPType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос информации о АПИ
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="MHqueryTypeDevType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос наличия устройств определенного типа
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="type" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Тип устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="model" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Модель
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="parentId" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор родительского устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHconfigType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Передача конфигурационных параметров устройства
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="device" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ru">
            Параметры конфигурации устройства
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="param" type="xs:string" />
                <xs:attribute name="value" type="xs:string" />
                <xs:attribute name="mode" type="xs:string" use="optional" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="deviceId" type="xs:integer">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Идентификатор устройства
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="type" type="xs:string">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Идентификатор типа устройства
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="changeDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Дата и время последнего изменения параметров устройства
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="model" type="xs:string">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Модель устройства
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="deviceName" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Название устройства
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="parentId" type="xs:integer" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Идентификатор родительского устройства
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="all" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="MHremoveDeviceType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Удаление устройства из конфигурации
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHchangeModeType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Изменение режима рабты ССКУ
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="modeId" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор нового режима
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHremoveModeType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Удаление режима рабты ССКУ
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="modeId" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор режима
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHcontrolDeviceType">
    <xs:attribute name="deviceId" type="xs:integer" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cmdId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор команды
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="eventId" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор события
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHqueryStateType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос состояния устройства
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="children" type="xs:boolean">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Признак включения в ответ дочерних устройств
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="state" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Имя запрашиваемого состояния
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHqueryAbilityType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос возможностей устройства
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHqueryConfiguredDevType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос всех сконфигурированных устройств АПИ
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="MHsetDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Установка даты и времени
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="time" type="xs:dateTime">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Текущие дата и время
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="timeIntervalType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        время начала разрешенного времени и время окончания разрешенного времени
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="start" type="xs:time" use="required" />
    <xs:attribute name="end" type="xs:time" use="required" />
  </xs:complexType>
  <xs:complexType name="zoneType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Состав зоны
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="date" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="interval" type="com:timeIntervalType" minOccurs="1" maxOccurs="4" />
          </xs:sequence>
          <xs:attribute name="value" type="xs:date" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="zoneId" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор зоны
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deleted" type="xs:boolean">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Признак удаления зоны
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHsetTimeZonesType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Передача временных зон
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="zone" type="com:zoneType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="all" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="DistanceControlDeviceType">
    <xs:attribute name="initDevId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор инициирующего устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="initDevMsgId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор сообщения от инициирующего устройства (по нему
          определяться начало дистанционного контроля)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="initDevCmdId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор команды для инициирующего устройства (по ней
          определяться начало дистанционного контроля)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="devId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор проверяемого устройства (средства обнаружения).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="devMsgId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          внутренний идентификатор сообщения, которое должно поступить от
          проверяемого устройства при выполнении дистанционного	контроля
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="msgId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          внутренний идентификатор сообщения, которое формируется при
          выполнении дистанционного контроля
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="msgText" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          текст сообщения, которое формируется при выполнении
          дистанционного контроля
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="msgErrorId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор сообщения, которое формируется при не выполнении
          дистанционного контроля
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="msgErrorText" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          текст сообщения, которое формируется при не выполнении
          дистанционного контроля
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="timeout" type="xs:integer" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          допустимое время от начала дистанционного контроля до момента
          получения от проверяемого устройства необходимого сообщения для
          выполнения дистанционного контроля
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHsetDistanceControlType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Передача параметров дистанционного контроля для устройств АПИ
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="device" type="com:DistanceControlDeviceType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biometricType">
    <xs:sequence>
      <xs:element name="hand" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ru">
            геометрия руки
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dactylogram" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ru">
            отпечаток пальца
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="permissionsType">
    <xs:attribute name="timeZoneId" type="xs:string" use="required" />
    <xs:attribute name="deviceId" type="xs:integer" use="required" />
    <xs:attribute name="state" type="com:inOutType" use="required" />
  </xs:complexType>
  <xs:complexType name="cardType">
    <xs:sequence>
      <xs:element name="permissions" type="com:permissionsType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ru">
            права карты доступа для пропускного пункта
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="biometric" type="com:biometricType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ru">
            биометрические идентификаторы
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Код карты доступа
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="pin" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          PIN-код
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="weight" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          PIN-код
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="antipassback" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          признак контроля однонаправленных проходов для карты доступа
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHsetAccessCardType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Передача карт доступа
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="card" type="com:cardType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MHfullRewriteType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Начало или окончание полной перезаписи информации для АПИ
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="begin" type="xs:boolean">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          признак — начало или окончание полной перезаписи
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          тип информации — карты доступа или временные зоны
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="cards" />
          <xs:enumeration value="zones" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="inOutType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="in" />
      <xs:enumeration value="out" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MHchangeInOutType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Изменение статуса внутри/снаружи пропускного пункта для карты доступа
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          внутренний идентификатор устройства (пропускного пункта)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="cardCode" type="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          код карты доступа
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="state" type="com:inOutType">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          текущее состояние внутри/снаружи
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="alertLevelType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MHsetAlertLevelType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Установка уровня тревоги событий от устройства
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="alertLevel" type="com:alertLevelType">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Уровень тревоги
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TriggerType">
    <xs:sequence>
      <xs:element name="cmd" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="ru">
              Команда реакции на событие устройства
            </xs:documentation>
          </xs:annotation>
          <xs:attribute name="deviceId" type="xs:integer">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Идентификатор устройства
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="cmdId" type="xs:string">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Идентификатор команды
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="order" type="xs:integer">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                порядок выполнения
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="triggerId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор реакции
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deviceId" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства, на котором должно произойти событие
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deviceEvent" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Событие устройства, вызывающее данную реакцию
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deviceStatus" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Состояние устройства, при котором сработает реакция
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deviceStatusVal" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Значение состояния
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deviceArmed" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Нахождение устройства под охраной
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHsetEventTriggerType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        установка реакции на события устройства
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trigger" type="com:TriggerType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="all" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="MHconfirmAlarmType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Подтверждение тревоги для устройства
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHguardStartType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        постановка устройства под охрану
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MHguardStopType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        снятие устройства с охраны
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:integer">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <!-- CP -->
  <xs:complexType name="CPqueryMainHostType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос информации о ССКУ
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="CPqueryTIMEType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос текущего времени
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="CPqueryTimeZoneType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос всех временных зон
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="CPqueryAccessCardType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос карт доступа для пропускных пунктов АПИ
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="CPqueryConfigurationType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос конфигурации всех устройств АПИ
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="CPqueryRemoteControlCfgType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос параметров дистанционного контроля для устройств АПИ
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="CPqueryEventTriggerType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запрос реакций на события устройства
      </xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="CPeventType">
    <xs:sequence>
      <xs:element name="state" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="ru">
            Состояние устройства
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="state" type="xs:string">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Имя состояния
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="value" type="xs:string">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                Значение состояния
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="accessCard" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="ru">
            Информация о карте доступа
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="code" type="xs:string" use="required">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                код карты доступа
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="pin" type="xs:integer" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                введенный ПИН-код
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="checkCard" type="xs:boolean" default="true" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                признак — надо ли проверять право доступа по карте к 	устройству
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="pass" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                признак — регистрировать ли проход или отказ в доступе через устройство
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="permitСmdId" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                внутренний идентификатор команды, которую надо
                посылать при разрешении доступа
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="banCmdId" type="xs:string" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                внутренний идентификатор команды, которую надо
                посылать при запрете доступа
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="needText" type="xs:boolean" default="false" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                признак — надо ли передавать текстовое сообщение о причине недопуска
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="answerCode" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                признак — надо ли передавать код карты
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="answerPin" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                признак — надо ли передавать ПИН-код
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="answerWieght" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                признак — надо ли передавать вес
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="answerHand" type="xs:boolean" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                признак — надо ли передавать геометрию руки
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="direction" use="optional">
            <xs:annotation>
              <xs:documentation xml:lang="ru">
                направление прохода
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="in" />
                <xs:enumeration value="out" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="eventId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор события
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="eventIdStored" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор события в базе данных
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="eventTime" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          дата и время события
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deviceId" type="xs:integer" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          идентификатор устройства
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="alertLevel" type="com:alertLevelType" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          уровень тревоги
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="down" type="xs:boolean" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          уровень тревоги
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CPsaveVIDEOtype">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Запись видеофрагмента
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="deviceId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор устройства, создавшего видеофрагмент
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="eventId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор события, связанного с видеофрагментом
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="videoId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор видеофрагмента
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="storeType">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Тип хранения информации (признак записи видеофрагмента)
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="file" />
          <xs:enumeration value="database" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="contentType" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          MIME тип видеоданных
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="size" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Размер видеоданных в байтах
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="startDate" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Дата и время начала видеофрагмента
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="stopDate" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Дата и время конца видеофрагмента
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="begin" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Начало видео для события в видеофрагменте
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CPconfirmationType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Подтверждение получения команды от ССКУ
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="type" type="com:modelInfoType" minOccurs="0" maxOccurs="1" />
      <xs:element name="status" type="com:CPcontrolDevStatus" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="device" type="com:DeviceType" minOccurs="0" maxOccurs="unbounded" />
    </xs:choice>
    <xs:attribute name="commandId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор полученной команды
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="status" type="com:CommandStatus" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Статус выполнения
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="errorMsg" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Сообщение об ошибке
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="protocolVer" type="xs:integer" use="optional"></xs:attribute>
    <xs:attribute name="producer" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="panelURL" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="propertyHTML" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="image" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="deviceId" type="xs:integer" use="optional" />
    <xs:attribute name="cmdId" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="modelInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Дополнительные параметры ответа на MHqueryCP
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="com:modelInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="state" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="value" type="xs:string"></xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="state" type="xs:string"></xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="command" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="param" type="xs:integer"></xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="command" type="xs:string"></xs:attribute>
          <xs:attribute name="description" type="xs:string" use="optional"></xs:attribute>
          <xs:attribute name="order" type="xs:integer" use="optional"></xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="event" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="event" type="xs:string"></xs:attribute>
          <xs:attribute name="description" type="xs:string" use="optional"></xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="value" type="xs:string"></xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="param" type="xs:string"></xs:attribute>
          <xs:attribute name="type" type="xs:string"></xs:attribute>
          <xs:attribute name="default" type="xs:string"></xs:attribute>
          <xs:attribute name="mode" type="xs:boolean"></xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param">
              <xs:complexType>
                <xs:attribute name="param" type="xs:string" />
                <xs:attribute name="value" type="xs:string" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"></xs:attribute>
    <xs:attribute name="model" type="xs:string"></xs:attribute>
    <xs:attribute name="name" type="xs:string"></xs:attribute>
    <xs:attribute name="parentId" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="CommandStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="NOT_ALL_DATA" />
      <xs:enumeration value="NO_CONNECTION" />
      <xs:enumeration value="UNKNOWN_COMMAND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CPcontrolDevStatus">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="DeviceType">
    <xs:sequence>
      <xs:element name="device" type="com:DeviceType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" />
          <xs:attribute name="value" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="state" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="state" type="xs:string" />
          <xs:attribute name="value" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="deviceId" type="xs:integer" />
    <xs:attribute name="deviceName" type="xs:string" use="optional"/>
    <xs:attribute name="typeId" type="xs:string" use="optional"/>
    <xs:attribute name="changeDate" type="xs:dateTime" use="optional"/>
  </xs:complexType>


  <xs:complexType name="mainHostInfoType">
    <xs:annotation>
      <xs:documentation xml:lang="ru">
        Информация о ССКУ
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="pVer" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Поддерживаемая версия протокола
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="sVer" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Версия сервера оборудования
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="dbVer" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Версия базы данных
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="time" type="xs:dateTime" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Текущее время ССКУ
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="modeId" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation xml:lang="ru">
          Идентификатор режима работы ССКУ
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>