Projects/Common/RviOperatorClient/Service References/RviIntegrationServiceReference/RVI_VSS.IntegrationInterface.XmlSchemas.Alarm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Alarm" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Alarm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AlarmRulesIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" base="q1:DocumentInBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlarmRulesIn" nillable="true" type="tns:AlarmRulesIn" />
  <xs:complexType name="AlarmRulesOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" base="q2:DocumentOutBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlarmRules" nillable="true" type="tns:ArrayOfAlarmRule" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlarmRulesOut" nillable="true" type="tns:AlarmRulesOut" />
  <xs:complexType name="ArrayOfAlarmRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmRule" nillable="true" type="tns:AlarmRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmRule" nillable="true" type="tns:ArrayOfAlarmRule" />
  <xs:complexType name="AlarmRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmRule" nillable="true" type="tns:AlarmRule" />
  <xs:complexType name="AlarmRuleExecuteIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" base="q3:DocumentInBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlarmRuleGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="ExternalEventGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="ExternalEventMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlarmRuleExecuteIn" nillable="true" type="tns:AlarmRuleExecuteIn" />
  <xs:complexType name="AlarmRuleExecuteOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" base="q4:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlarmRuleExecuteOut" nillable="true" type="tns:AlarmRuleExecuteOut" />
  <xs:complexType name="AlarmRuleCheckExistIn">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" base="q5:DocumentInBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlarmRuleGuid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlarmRuleCheckExistIn" nillable="true" type="tns:AlarmRuleCheckExistIn" />
  <xs:complexType name="AlarmRuleCheckExistOut">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" base="q6:DocumentOutBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlarmRuleCheckExistOut" nillable="true" type="tns:AlarmRuleCheckExistOut" />
</xs:schema>