Projects/Common/RviOperatorClient/Service References/RviIntegrationServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Integration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IIntegration_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Alarm" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RVI_VSS.IntegrationInterface.XmlSchemas.Video" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegration_SessionInitialiazation_InputMessage">
    <wsdl:part name="parameters" element="tns:SessionInitialiazation" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SessionInitialiazation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SessionInitialiazationResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SessionKeepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:SessionKeepAlive" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SessionKeepAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:SessionKeepAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SessionClose_InputMessage">
    <wsdl:part name="parameters" element="tns:SessionClose" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SessionClose_OutputMessage">
    <wsdl:part name="parameters" element="tns:SessionCloseResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetPerimeter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerimeter" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetPerimeter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPerimeterResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SubscribePerimeterChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribePerimeterChanged" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SubscribePerimeterChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribePerimeterChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_UnsubscribePerimeterChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribePerimeterChanged" />
  </wsdl:message>
  <wsdl:message name="IIntegration_UnsubscribePerimeterChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribePerimeterChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_VideoRecordStart_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoRecordStart" />
  </wsdl:message>
  <wsdl:message name="IIntegration_VideoRecordStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoRecordStartResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_VideoRecordStop_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoRecordStop" />
  </wsdl:message>
  <wsdl:message name="IIntegration_VideoRecordStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoRecordStopResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetVideoFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoFile" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetVideoFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoFileResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SetPtzPreset_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPtzPreset" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SetPtzPreset_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPtzPresetResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_PtzTemplateBypassStart_InputMessage">
    <wsdl:part name="parameters" element="tns:PtzTemplateBypassStart" />
  </wsdl:message>
  <wsdl:message name="IIntegration_PtzTemplateBypassStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:PtzTemplateBypassStartResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_PtzTemplateBypassStop_InputMessage">
    <wsdl:part name="parameters" element="tns:PtzTemplateBypassStop" />
  </wsdl:message>
  <wsdl:message name="IIntegration_PtzTemplateBypassStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:PtzTemplateBypassStopResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SnapshotDo_InputMessage">
    <wsdl:part name="parameters" element="tns:SnapshotDo" />
  </wsdl:message>
  <wsdl:message name="IIntegration_SnapshotDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SnapshotDoResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetSnapshotImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSnapshotImage" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetSnapshotImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSnapshotImageResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetAlarmRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmRules" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetAlarmRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_AlarmRuleExecute_InputMessage">
    <wsdl:part name="parameters" element="tns:AlarmRuleExecute" />
  </wsdl:message>
  <wsdl:message name="IIntegration_AlarmRuleExecute_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlarmRuleExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_AlarmRuleCheckExist_InputMessage">
    <wsdl:part name="parameters" element="tns:AlarmRuleCheckExist" />
  </wsdl:message>
  <wsdl:message name="IIntegration_AlarmRuleCheckExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlarmRuleCheckExistResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_VideoStreamingStart_InputMessage">
    <wsdl:part name="parameters" element="tns:VideoStreamingStart" />
  </wsdl:message>
  <wsdl:message name="IIntegration_VideoStreamingStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:VideoStreamingStartResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegration">
    <wsdl:operation name="SessionInitialiazation">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/SessionInitialiazation" message="tns:IIntegration_SessionInitialiazation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/SessionInitialiazationResponse" message="tns:IIntegration_SessionInitialiazation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SessionKeepAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/SessionKeepAlive" message="tns:IIntegration_SessionKeepAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/SessionKeepAliveResponse" message="tns:IIntegration_SessionKeepAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SessionClose">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/SessionClose" message="tns:IIntegration_SessionClose_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/SessionCloseResponse" message="tns:IIntegration_SessionClose_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerimeter">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GetPerimeter" message="tns:IIntegration_GetPerimeter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GetPerimeterResponse" message="tns:IIntegration_GetPerimeter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribePerimeterChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/SubscribePerimeterChanged" message="tns:IIntegration_SubscribePerimeterChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/SubscribePerimeterChangedResponse" message="tns:IIntegration_SubscribePerimeterChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribePerimeterChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/UnsubscribePerimeterChanged" message="tns:IIntegration_UnsubscribePerimeterChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/UnsubscribePerimeterChangedResponse" message="tns:IIntegration_UnsubscribePerimeterChanged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoRecordStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/VideoRecordStart" message="tns:IIntegration_VideoRecordStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/VideoRecordStartResponse" message="tns:IIntegration_VideoRecordStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoRecordStop">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/VideoRecordStop" message="tns:IIntegration_VideoRecordStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/VideoRecordStopResponse" message="tns:IIntegration_VideoRecordStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVideoFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GetVideoFile" message="tns:IIntegration_GetVideoFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GetVideoFileResponse" message="tns:IIntegration_GetVideoFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPtzPreset">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/SetPtzPreset" message="tns:IIntegration_SetPtzPreset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/SetPtzPresetResponse" message="tns:IIntegration_SetPtzPreset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PtzTemplateBypassStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/PtzTemplateBypassStart" message="tns:IIntegration_PtzTemplateBypassStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/PtzTemplateBypassStartResponse" message="tns:IIntegration_PtzTemplateBypassStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PtzTemplateBypassStop">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/PtzTemplateBypassStop" message="tns:IIntegration_PtzTemplateBypassStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/PtzTemplateBypassStopResponse" message="tns:IIntegration_PtzTemplateBypassStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SnapshotDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/SnapshotDo" message="tns:IIntegration_SnapshotDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/SnapshotDoResponse" message="tns:IIntegration_SnapshotDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSnapshotImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GetSnapshotImage" message="tns:IIntegration_GetSnapshotImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GetSnapshotImageResponse" message="tns:IIntegration_GetSnapshotImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GetAlarmRules" message="tns:IIntegration_GetAlarmRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GetAlarmRulesResponse" message="tns:IIntegration_GetAlarmRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlarmRuleExecute">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/AlarmRuleExecute" message="tns:IIntegration_AlarmRuleExecute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/AlarmRuleExecuteResponse" message="tns:IIntegration_AlarmRuleExecute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlarmRuleCheckExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/AlarmRuleCheckExist" message="tns:IIntegration_AlarmRuleCheckExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/AlarmRuleCheckExistResponse" message="tns:IIntegration_AlarmRuleCheckExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VideoStreamingStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/VideoStreamingStart" message="tns:IIntegration_VideoStreamingStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/VideoStreamingStartResponse" message="tns:IIntegration_VideoStreamingStart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IIntegration" type="tns:IIntegration">
    <wsp:PolicyReference URI="#NetTcpBinding_IIntegration_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SessionInitialiazation">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/SessionInitialiazation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionKeepAlive">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/SessionKeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionClose">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/SessionClose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerimeter">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/GetPerimeter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribePerimeterChanged">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/SubscribePerimeterChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribePerimeterChanged">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/UnsubscribePerimeterChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VideoRecordStart">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/VideoRecordStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VideoRecordStop">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/VideoRecordStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoFile">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/GetVideoFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPtzPreset">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/SetPtzPreset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PtzTemplateBypassStart">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/PtzTemplateBypassStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PtzTemplateBypassStop">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/PtzTemplateBypassStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapshotDo">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/SnapshotDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSnapshotImage">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/GetSnapshotImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmRules">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/GetAlarmRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlarmRuleExecute">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/AlarmRuleExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlarmRuleCheckExist">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/AlarmRuleCheckExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VideoStreamingStart">
      <soap12:operation soapAction="http://tempuri.org/IIntegration/VideoStreamingStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Integration">
    <wsdl:port name="NetTcpBinding_IIntegration" binding="tns:NetTcpBinding_IIntegration">
      <soap12:address location="net.tcp://localhost:8000/Integration" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/Integration</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>